<!DOCTYPE html>
<html>
<head>
 	<meta charset="UTF-8">
 		<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="styles.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Vignere Cypher</title>
</head>
<body>
	<nav>
			<div class="nav-wrapper white">
			    <div class="container">
			      <a href="#" class="brand-logo black-text">Cloakmy</a>
			       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
			      <ul id="nav-mobile" class="right hide-on-med-and-down">
			        <li><a href="#">What</a></li>
			        <li><a href="#">Contact</a></li>
			        <li><a href="#">About</a></li>
			      </ul>
			      <ul class="side-nav" id="mobile-demo">
			        <li><a href="#">What</a></li>
			        <li><a href="#">Contact</a></li>
			        <li><a href="#">About</a></li>    
      			  </ul>
      			  </div>
			</div>
  		</nav>
  		<div id="main">
    		<h4 class="center-align">Share A Secure Message</h4>
  		</div>

  		<div class="container">
  			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header">
			      	<a class="waves-effect waves-light btn">More Info</a>
			      </div>
			      <div class="collapsible-body"><p>We provide a quick, convenient and secure way to share sensitive information. Just copy your message in the box, set the recipient and your password (if you want to protect your message) and send it. The recipient will receive a secure link. If you select Auto Destruct as an expiration setting (by default), once the link is opened the message will be deleted. Hover the labels with your mouse or click them (on touchscreens) for more info. The message will be encrypted with a randomly generated key + your password if you chose one.</p>  <p><strong>We log IP addresses, be smart, don't use our service illegaly. If you use the email service, your ip will be sent to the recipent as well as a link to the secure message.</strong></p>
			      </div>
			    </li>    
  			</ul>
  		</div>
  		<div class="container">
  			<div class="row">
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s6">
			          <input id="first_name" type="text" class="validate">
			          <label for="first_name">First Name</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="last_name" type="text" class="validate">
			          <label for="last_name">Last Name</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="email" type="email" class="validate">
			          <label for="email">Email</label>
			        </div>
			      </div>
			      <div class="row">
				        <div class="input-field col s12">
				          <textarea id="message" class="materialize-textarea"></textarea>
				          <label for="message" class='active'>Message To Encrypt</label>
				        </div>
      			  </div>
      			  <div class="row">
			        <div class="input-field col s6">
			          <input id="key_input" type="text" class="validate">
			          <label for="key_input">Enter Key</label>
			        </div>
			        <div class="col s6">
			        	<a class="waves-effect waves-light btn" id="random_key">Random Key</a>
			        </div>
			      </div>
			      <div class="row">
				        <div class="input-field col s12">
				          <textarea id="enc_message" class="materialize-textarea"></textarea>
				          <label for="enc_message" class='active'>Encrypted Message</label>
				        </div>
      			  </div>
    			  <button class="btn waves-effect waves-light" type="submit" name="share">Share
    					<i class="material-icons right">send</i>
  				  </button>
    			  <button class="btn waves-effect waves-light" type="submit" name="encrypt">Encrypt
  				  </button>
    			   <button class="btn waves-effect waves-light" type="submit" name="decrypt">Decrypt
  				  </button>			    
			    </form>
  			</div>
  		</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>