{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vignere Cypher</title>
    <style>
        .container {
            background-color: black;
            color: white;
            margin: 0 auto;
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Vignere Cypher</h1>

        {% csrf_token %}
        <div class="main">
            <div>
                <label for="name">Your Name: </label>
                <input id="name" type="text" name="name" value="{{ name }}">
            </div>
            <div>
                <label for="email">Email (To whom you want to send this message): </label>
                <input id="email" type="text" name="email" value="{{ email }}">
            </div>
            <div>
                <label for="message">Message That you want to Encrypt: </label>
                <textarea id="message" type="text" name="message" value="{{ message }}"></textarea>
            </div>

            <textarea type="text" name="key" placeholder="Enter key" id="key_input"/></textarea>
            <input type="button" value=" Encrypt " id="encrypt_button" onclick="doCrypt(false)">
            <input type="button" value=" Decrypt " id="encrypt_button1"  onclick="doCrypt(true)">
            <input type="button" value=" Random Key " id="encrypt_button2"  onclick="">

            <div>
                <label for="enc_message">Your Encrypted Message Is: </label>
                <textarea id="enc_message" type="text" name="enc_message" value="{{ enc_message }}"></textarea>
            </div>


    </div>
<script src="main.js" type="text/javascript"></script>
</body>
</html>
